*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #07090D;
  color: #C8C0B0;
  -webkit-font-smoothing: antialiased;
}